.large-hero {
  position: relative;
}
.large-hero__text-content {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.large-hero h1{
  font-weight: 300;
}
